__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db

# Virtual Environment
venv/

# Logs
logs/
*.log

# IDEs e arquivos temporários
*.swp
*.swo
.DS_Store
.vscode/
*.bak

# Config
config/secrets.env
.env
